{% extends "acc_base.html" %}
{% block body %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-light">
                                <div class="row">
                                <div class="col-md-6">
                                    <h3>New Client</h3>
                                </div>
                                <div class="col-md-6 text-right">
                                    <div class="btn btn-outline-primary"><i class="fa fa-list"></i> Client List </div>
                                </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mt-4">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="placeholder-input" class="form-control-label">Names</label>
                                            <input id="placeholder-input" class="form-control" placeholder="Enter Client Name">
                                        </div>


                                        <div class="form-group">
                                            <label for="placeholder-input" class="form-control-label">Phone</label>
                                            <input id="placeholder-input" class="form-control" placeholder="Enter Phone Number">
                                        </div>

                                        <div class="form-group">
                                            <label for="placeholder-input" class="form-control-label">Email</label>
                                            <input id="placeholder-input" class="form-control" placeholder="Enter Email">
                                        </div>
                                        <hr>

                                        <div class="form-group">
                                            <label for="placeholder-input" class="form-control-label">Contact Person</label>
                                            <input id="placeholder-input" class="form-control" placeholder="Contact Person">
                                        </div>
                                         <div class="btn btn-outline-primary"> Save Client </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
{% endblock %}