{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{% block title %} Change Password {% endblock %}
{{ super() }}
<style type="text/css">
	@import url('https://fonts.googleapis.com/css?family=Quicksand');
    body{
        background: #e6e6e6;
        background: -webkit-linear-gradient(to right, #e6e6e6); 
        background: linear-gradient(to right, #e6e6e6);
        font-family: 'Quicksand', sans-serif;
    }
    .btn-nav{
        background-color: #293658;
        color: #E4E4E4;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 3px solid #293658;
        border-radius: 5px;
    }
    .btn-nav:hover{
        background-color: #e6e6e6;
        color: #293658;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 3px solid #E4E4E4;
        border-radius: 5px;
    }
    .form-title{
        background-color: #394249;
        color: #E4E4E4;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #293658;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .form-form{
        background-color: white;
        color: black;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 30px;
        padding-bottom: 10%;
    }
    .form-all{
        background-color: white;
        padding-bottom: 40px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .form-button{
        margin-top: 20px;

    }
    .btn-button{
        background-color: #1F656D;
        padding-top: 2%;
        padding-bottom: 2%;
        color: #E4E4E4;
    }
    .form-control {
        height: 40px;
        background-color: #e6e6e6;
        color: #293658; 
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: white;">
      <div class="container-fluid">
        <div class="navbar-header">
          <img src="{{ url_for('static', filename='images/logos/smaller.png') }}" style="height: 45px; width: 100px; margin-top: 2px; margin-bottom: 2px;" />
        </div> 
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('auth.login') }}"><span class="btn-nav">KWINJIRA</span></a></li>
        </ul>
      </div>
    </nav>
    <div class="row" style="margin-top: 100px;">
    	<div class="col-md-4 col-lg-4"></div>
        <div class="col-md-4 col-lg-4" style="text-align: center;">
            <div class="form-all">
                <div class="form-title">
                    <h3>Wibagiwe Ijambo Ry'ibanga</h3>
                </div>
                <div class="form-form" style="">
                    <form action="/ForgotPassword" method="POST">
                        <div class="input-group" style="margin-top: 40px; ">
                          <span class="input-group-addon" style="background-color: #e6e6e6;"><i class="glyphicon glyphicon-user"></i></span>
                          {{ wtf.form_field(form.email) }}
                        </div>
                        <div class="form-button">
                            {{ form.submit(class="btn btn-lg btn-button col-sm-12 col-md-12 col-lg-12 col-xs-12") }}
                        </div>
                        {{ form.csrf_token }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}