{% import "bootstrap/wtf.html" as wtf %}
{% extends "members_base.html" %}
{% block title %}
    {% if add_department %}
        Add Role
    {% else %}
        Edit Role
    {% endif %}
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-light">
                <div class="row">
                <div class="col-md-6">

            {% if add_role %}
                <div class="card-header bg-light">
                <h3>Andika Igikorwa</h3>
                </div>
            {% else %}
                <div class="card-header bg-light">
                <h3>Andika Igikorwa Gikeneye Amafaranga</h3>
                </div>
            {% endif %}
            </div>
            </div>
            </div>
                <div class="card-body">
                {{ wtf.quick_form(form, form_type='basic', button_map={'submit': 'info'}) }}
            </div>
        </div>
    </div>







        <div class="col-md-4">
      <div class="card">
            <div class="card-header bg-info"><br>
            <h3 style="color: #fff;">Ibyerekeye Igikorwa </h3>
            </div>
            <div class="card-body">
            <p>Work with stakeholders to decide important things, such as project scope or schedule changes.
            </p><br>
            <h3> Steps </h3>
            <ol>
                <li>File format</li>
                <li>Sheet name</li>
                <li>Number of fields</li>
                <li>Cooperative ID</li>
            </ol>
            </div>
     </div>
    </div>


  </div>
</div>
{% endblock %}
