{% extends 'acct_base.html' %}
    {% block body %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card p-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="h4 d-block font-weight-normal mb-2">00</span>
                                    <span class="font-weight-light">Supplier</span>
                                </div>

                                <div class="h2 text-muted">
                                    <i class="icon icon-people"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card p-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="h4 d-block font-weight-normal mb-2">00</span>
                                    <span class="font-weight-light">Customer</span>
                                </div>

                                <div class="h2 text-muted">
                                    <i class="icon icon-wallet"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card p-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="h4 d-block font-weight-normal mb-2">00</span>
                                    <span class="font-weight-light">Assets</span>
                                </div>

                                <div class="h2 text-muted">
                                    <i class="icon icon-cloud-download"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card p-4">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="h4 d-block font-weight-normal mb-2">00</span>
                                    <span class="font-weight-light">Products</span>
                                </div>

                                <div class="h2 text-muted">
                                    <i class="icon icon-clock"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3>Cash Flow Plot:</h3>
                            </div>

                            <div class="card-body p-0">
                                <div class="p-4">
                                    <canvas id="line-chart" width="100%" height="20"></canvas>
                                </div>

                            <div class="card-header">
                                <h3>Account Statement: </h3>
                            	</div>
                                <div class="justify-content-around mt-4 p-4 bg-light d-flex border-top d-md-down-none">
                                    <div class="text-center">
                                        <div class="text-muted small">Debits</div>
                                        <div>000 </div>
                                    </div>

                                    <div class="text-center">
                                        <div class="text-muted small">Credits</div>
                                        <div>000 </div>
                                    </div>

                                    <div class="text-center">
                                        <div class="text-muted small">Cash in Hand</div>
                                        <div>00</div>
                                    </div>


                                    <div class="text-center">
                                        <div class="text-muted small">Assets</div>
                                        <div>00</div>
                                    </div>

                                    <div class="text-center">
                                        <div class="text-muted small">Bank in Balance</div>
                                        <div>0000 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endblock %}