{% import "bootstrap/utils.html" as utils %}
{% extends "coop_base.html" %}
{% block title %}Shared Files{% endblock %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
      {% block body %}
        {{ utils.flashed_messages() }}

        <h2>Shared Files</h2>

        <div class="btn btn-default text-left"><a href="{{ url_for('admin.create_file') }}"> Share a file
         </a></div><br><br><br>

                       <table id="example" class="display" cellspacing="0" width="100px">
                              <thead>
                                  <tr>
                                      <th>ID</th>
                                      <th>Title </th>
                                      <th>Description</th>
                                      <th>File</th>
                                      <th>More</th>
                                  </tr>
                              </thead>
                              <tfoot>
                                  <tr>
                                      <th>ID</th>
                                      <th>Title </th>
                                      <th>Description</th>
                                      <th>File</th>
                                      <th>More</th>
                                  </tr>
                              </tfoot>
                              <tbody>
                              {% if files %}
                                    {% for file in files %}
                                          <tr>
                                            <td> {{ file.id }} </td>
                                            <td><span class="label label-default"> {{ file.name }} </span></td>
                                            <td><span class="label label-primary"> {{ link.description }} </span></td>
                                            <td>
                                              {% if link.image_url %}
                                                  <img src="{{ link.image_url }}" alt="{{ recipe.Recipe.image_filename }}" style="width:600px;height:450px;">
                                              {% endif %}
                                            </td>
                                            <td> 
                                              <a href="#">
                                              <i class="fa fa-book"></i>More 
                                              </a>
                                            </td>


                                          </tr>
                                    {% endfor %}
                              {% endif %}
                              </tbody>
                          </table>
    <br><br><br>

    <br><br><br>
    <br><br><b
        </div>

    {% endblock %}
    </div>
  </div>
</div>
</div>
























