
{% import "bootstrap/utils.html" as utils %}
{% extends "confederation_base.html" %}
{% block title %}Members{% endblock %}
    {% block body %}
      <div class="container-fluid">
        {{ utils.flashed_messages() }}
    {% if employees %}
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="text-center">
                                <span class="h4 d-block font-weight-normal mb-2">32</span>
                                <span class="font-weight-light">
                                  East Cooperatives
                                </span>
                            </div>

                            <div class="mt-4">
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="text-center">
                                <span class="h4 d-block font-weight-normal mb-2">565</span>
                                <span class="font-weight-light">
                                  West Cooperatives
                                </span>
                            </div>

                            <div class="mt-4">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 24%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="text-center">
                                <span class="h4 d-block font-weight-normal mb-2">232</span>
                                <span class="font-weight-light">North Cooperatives</span>
                            </div>

                            <div class="mt-4">
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body p-5">
                            <div class="text-center">
                                <span class="h4 d-block font-weight-normal mb-2">44,000</span>
                                <span class="font-weight-light">South and Kigali</span>
                            </div>

                            <div class="mt-4">
                                <div class="progress">
                                    <div class="progress-bar bg-dark" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



      <div class="card">
          <div class="card-header bg-light"> 
          <h2 class="sub-header">All Registered Members</h2>
          <div class="table-responsive">
               <table id="example" class="display" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                          <th>##</th>
                          <th>First Name</th>
                          <th>Second Name</th>
                          <th>Owner</th>
                          <th>Phone</th>
                          <th>Role</th>
                          <th>Assign</th>
                          <th>More</th>
                          <th>Remove</th>
                      </tr>
                  </thead>
                  <tfoot>
                      <tr>
                          <th>##</th>
                          <th>First Name</th>
                          <th>Second Name</th>
                          <th>Owner</th>
                          <th>Phone</th>
                          <th>Role</th>
                          <th>Assign</th>
                          <th>More</th>
                          <th>Remove</th>
                      </tr>
                  </tfoot>
                  <tbody>
                        {% for employee in employees %}
                              <tr>
                                <td> {{ employee.id }} </td>
                                <td> {{ employee.firstName }} </td>
                                <td> {{ employee.secondName }} </td>
                                <td> {{ employee.owner }} </td>
                                <td> {{ employee.phone }} </td>

                                <td>
                                  {% if employee.role %}
                                  <span class="label label-info">{{ employee.role.name }}</span>
                                  {% else %}
                                    Member
                                  {% endif %}
                                </td>
                                <td>
                                  <a href="{{ url_for('aicos_members.assign_employee', id=employee.id) }}">
                                    <i class="fa fa-user-plus"></i> Assign
                                  </a>
                                </td>
                                <td> 
                                <a href="{{ url_for('aicos_members.member_details', id=employee.id) }}">
                                <i class="fa fa-eye"></i>View 
                                </a>

                                <!--
                                Trying out to use modal here
                                <a href="#my_modal" data-toggle="modal" data-book-id="employee.id">Open</a>
                                -->
                                </td>
                                <td> <a href="{{ url_for('aicos_members.delete_member', id=employee.id) }}">
                                <i class="fa fa-trash"></i> Remove
                                </a>
                                </td>
                              </tr>
                        {% endfor %}
                  </tbody>
              </table>  
              <div id="chartz"></div>
          {% endif %}

          </div>
        </div>
      </div>
    </div>

        <br/><br/><br/>
      </div>
    {% endblock %}
      </div>
    </div>
  </div>
</div>




