    <nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="{{ url_for('aicos_members.aicos_members_home') }}">
            <img src="{{ url_for('static', filename='images/logos/smaller.png') }}" style="height: 45px; width: 100px; margin-top: 2px; margin-bottom: 2px;" />
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-danger">00</span>
                </a>
            </li>

            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-envelope-open"></i>
                    <span class="badge badge-pill badge-danger">00</span>
                </a>
            </li>



            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-lg icon-user icon-lg"></i>
                    <span class="small ml-1 d-md-down-none">
                        <b>{{ current_user.username }}! </b>
                    </span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Konti</div>

                    <a href="{{ url_for('home.user_profile', id=current_user.id, username=current_user.username) }}" class="dropdown-item">
                        <i class="fa fa-user"></i> Urukuta
                    </a>


                    <a href="{{ url_for('aicos_members.cooper_det') }}" class="dropdown-item">
                        <i class="fa fa-users"></i> Umwirondoro wa Koperative
                    </a>


                    <a href="#" class="dropdown-item">
                        <i class="fa fa-envelope"></i> Ubutumwa
                    </a>

                    <div class="dropdown-header">Ubufasha</div>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-bell"></i> Ibyakozwe
                    </a>

                    <a href="{{ url_for('aicos_members.settings') }}" class="dropdown-item">
                        <i class="fa fa-wrench"></i> Ubufasha
                    </a>

                    <a href="{{ url_for('auth.logout') }}" class="dropdown-item">
                        <i class="fa fa-lock"></i> Gusohoka
                    </a>
                </div>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fab fa-buromobelexperte fa-lg"></i>
                    <span class="small ml-1 d-md-down-none"><b>Hitamo</b></span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Solutions</div>


                    <a href="{{ url_for('home.allSolutions') }}" class="dropdown-item">
                        <i class="fa fa-list"></i> AICOS All
                    </a>

                    <a href="{{ url_for('aicos_stock_managment.dashboard') }}" class="dropdown-item">
                        <i class="fa fa-list"></i> Accounting Books
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-user"></i> E-registration.
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-envelope"></i> E-joining
                    </a>

                    <a href="{{ url_for('tumika.dashboardw') }}" class="dropdown-item">
                        <i class="fa fa-phone"></i> Communication
                    </a>

                    <a href="{{ url_for('aicos_members.dashboard') }}" class="dropdown-item">
                        <i class="fa fa-user"></i> Members Management
                    </a>

                    <a href="{{ url_for('aicos_trainer.trainer_dashboard') }}" class="dropdown-item">
                        <i class="fa fa-envelope"></i> e-Trainer
                    </a>
                    <!--
                    <a href="#" class="dropdown-item">
                        <i class="fa fa-user"></i> E-monitoring
                    </a>
                    -->

                    <a href="{{ url_for('aicos_ezigama.home') }}" class="dropdown-item">
                        <i class="fa fa-envelope"></i> e-Zigama
                    </a>

                    <a href="{{ url_for('aicos_reporter.home') }}" class="dropdown-item">
                        <i class="fa fa-user"></i> e-Reporting
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-envelope"></i> Proof
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-user"></i> Imboni
                    </a>

                    <a href="{{ url_for('aicos_pm.aicos_pm_home') }}" class="dropdown-item">
                        <i class="fa fa-envelope"></i> Property Management
                    </a>
                    <div class="dropdown-header">Load More</div>
                </div>
            </li>
        </ul>
    </nav>


    {% block rest %}
    
    {% endblock %}