<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COOPTHEVIGI - Digital Cooperative.</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.easy-pie-chart/1.0.1/jquery.easy-pie-chart.css">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="{{ url_for('static', filename='imboni/vendor/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='imboni/vendor/font-awesome/css/fontawesome-all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='imboni/css/styles.css') }}" rel="stylesheet">
    
    <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Quicksand');

    body{       
        
    }

    #links{
        font-style: bold;
        font-family: Arial;
        color: #394249;
    }

    #card-number{
        font-size: 25px;
        font-family: Arial;
        font-style: bold;
        color: #394249;
    }
    #icon-dashboard{
        color: #394249;
    }
    
</style>




</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
{% extends 'main_member_base.html' %}
{% block rest %}
    <div class="main-container">
        <div class="sidebar" style="background-color: #394249;">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title"><h4><strong><b>KOPERATIVE</b></strong></h4></li>

                    <li class="nav-item">
                        <a href="{{ url_for('aicos_members.dashboard') }}" class="nav-link">
                            <i class="fa fa-home"></i><b>Ahabanza</b>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a href="{{ url_for('aicos_members.aicos_members_home') }}" class="nav-link">
                            <i class="fa fa-users"></i><b>Abanyamuryango</b>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ url_for('aicos_members.AddNewMember') }}" class="nav-link">
                            <i class="fa fa-download"></i><b>Kwandika</b>
                        </a>
                    </li>


                    <!--
                    <li class="nav-item">
                        <a href="{{ url_for('aicos_members.memberPayments') }}" class="nav-link">
                            <i class="fa fa-upload"></i><b>Imyishyurire </b>
                        </a>
                    </li>
                    
                    <li class="nav-item nav-dropdown">
                        <a href="{{ url_for('aicos_members.joiningChart') }}" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-energy"></i><b>Imyinjirire</b><i class="fa fa-caret-left"></i>
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="{{ url_for('aicos_members.joiningChart') }}" class="nav-link">
                                    <i class="icon icon-energy"></i> 
                                    <b>Uko abantu binjiye</b>
                                </a>
                            </li>
                        </ul>
                    </li>
                    -->
                    <li class="nav-item">
                        <a href="{{ url_for('aicos_members.list_roles') }}" class="nav-link">
                            <i class="fa fa-clipboard"></i><b>Committees</b>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ url_for('aicos_members.list_staffs') }}" class="nav-link">
                            <i class="fa fa-hand-paper-o"></i><b>Abakozi</b>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ url_for('aicos_members.list_activities') }}" class="nav-link">
                            <i class="fa fa-thumbs-up"></i><b>Ibikorwa</b>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ url_for('aicos_members.list_assets') }}" class="nav-link">
                            <i class="fa fa-eject"></i><b>Umutungo</b>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fa fa-align-center"></i><b>Certificate</b>
                        </a>
                    </li>








                <!--
                    <li class="nav-item">
                        <a href="{{ url_for('aicos_members.memberCreate') }}" class="nav-link">
                            <i class="icon icon-folder"></i>
                            <b>Tunganya</b>
                        </a>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-note"></i> 
                            <b>Imyishyurire</b><i class="fa fa-caret-left"></i>
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                <i class="icon icon-email"></i>
                                    <b>Ku kwezi</b>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                <i class="icon icon-email"></i>
                                    <b>Ku mwaka </b>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="icon icon-email"></i>
                                    <b>Byose hamwe</b>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-energy"></i> 
                            <b>Kumenyesha</b> <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="icon icon-email"></i> Kohereza ubutumwa
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="icon icon-file"></i> Ibindi
                                </a>
                            </li>
                        </ul>
                    </li>
                    -->

                </ul>
            </nav>
        </div>

        <div class="content">
        {% block body %}

        {% endblock %}
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.easy-pie-chart/1.0.1/jquery.easy-pie-chart.js"></script>



<script src="{{ url_for('static', filename='imboni/vendor/jquery/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='imboni/vendor/popper.js/popper.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='imboni/vendor/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='imboni/vendor/chart.js/chart.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='imboni/js/carbon.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='imboni/js/demo.js') }}" type="text/javascript"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<!-- Things related to the datatables -->
<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet"> 



<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet"> 
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>



<script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>


<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.easy-pie-chart/1.0.1/jquery.easy-pie-chart.js"></script>




<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highchartTable/2.0.0/jquery.highchartTable.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/jquery.dataTables.min.js"></script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<!-- Things related to the datatables exports-->
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>











</body>
</html>



<script type="text/javascript">



// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Ubumga bw\'amaguru', 4],
  ['Ubumga bw\'amaboko', 1],
  ['Ubumga bwo kutabona', 7],
  ['Ubumga bwo kutumva', 5],
  ['Ubumga bwo mu mutwe', 2]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Abanyamuryango ba Cooperative babana n\'ubumuga', 'width':950, 'height':700};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}







$(document).ready(function() {
    $('#example1').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );







  $(document).ready(function() {
  $('table.displayz').each(function(i) {
    $(this).data('graph-container', '#users-results-chart-' + i);
    $(this).after( '<div class="users-results-chart"></div>')
    
      });
      $('.users-results-chart').each(function(i) {
        $(this).attr('id', 'users-results-chart-' + i);
      });
      var table = $('table.displayz').highchartTable();
    });

    $(document).ready(function() {
        $('.dataTable').DataTable();
    });






























$(document).ready(function() {
    $('#memberLogs').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );



    $(function() {
        $('.chart').easyPieChart({
            easing: 'easeOutBounce',
            onStep: function(from, to, percent) {
                $(this.el).find('.percent').text(Math.round(percent));
            }
        });
        var chart = window.chart = $('.chart').data('easyPieChart');
        $('.js_update').on('click', function() {
            chart.update(Math.random()*200-100);
        });
    });


$(document).ready(function() {
    $('#example2').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );




$(document).ready(function() {
    $('#example3').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );



$(document).ready(function() {
    $('#example4').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );


$(document).ready(function() {
    $('#example5').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );


$(document).ready(function() {
    $('#example6').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );



$(document).ready(function() {
    $('#example7').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );



$(document).ready(function() {
    $('#example8').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );




$(document).ready(function() {
    $('#example9').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );



$(document).ready(function() {
    $('#example10').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );


$(document).ready(function() {
    $('#example11').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );


$(document).ready(function() {
    $('#example12').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );



$(document).ready(function() {
    $('#example13').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );


$(document).ready(function() {
    $('#example14').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );






$(document).ready(function() {
    $('#examplepay1').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );



$(document).ready(function() {
    $('#examplepay2').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );


$(document).ready(function() {
    $('#examplePayment1').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );


$(document).ready(function() {
    $('#loan').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );



$(document).ready(function() {
    $('#goals').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );


$(document).ready(function() {
    $('#ubumuga1').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );

$(document).ready(function() {
    $('#ubumuga2').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );

$(document).ready(function() {
    $('#ubumuga3').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );

$(document).ready(function() {
    $('#ubumuga4').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );


$(document).ready(function() {
    $('#ubumuga5').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );










let draw = true;
init();

/**
 * FUNCTIONS
 */

function init() {
  // initialize DataTables
  const table = $("#dt-tablex").DataTable();
  // get table data
  const tableData = getTableData(table);
  // create Highcharts
  createHighcharts(tableData);
  // table events
  setTableEvents(table);
}

function getTableData(table) {
  const dataArray = [],
    countryArray = [],
    populationArray = [],
    densityArray = [];

  // loop table rows
  table.rows({ search: "applied" }).every(function() {
    const data = this.data();
    countryArray.push(data[6]);
    populationArray.push(parseInt(data[1].replace(/\,/g, "")));
    densityArray.push(parseInt(data[5].replace(/\,/g, "")));
  });

  // store all data in dataArray
  dataArray.push(countryArray, populationArray, densityArray);

  return dataArray;
}

function createHighcharts(data) {
  Highcharts.setOptions({
    lang: {
      thousandsSep: ","
    }
  });

  Highcharts.chart("chartzxc", {
    title: {
      text: "Abanyamuryango n'imigabane yabo"
    },
    subtitle: {
      text: "Igishushanyo cy'Abanyamuryango n'imigabane yabo"
    },
    xAxis: [
      {
        categories: data[0],
        labels: {
          rotation: -45
        }
      }
    ],
    yAxis: [
      {
        // first yaxis
        title: {
          text: "Population (2017)"
        }
      },
      {
        // secondary yaxis
        title: {
          text: "Umugabane (Frw)"
        },
        min: 0,
        opposite: true
      }
    ],
    series: [
      {
        name: "Population (2017)",
        color: "#0071A7",
        type: "column",
        data: data[1],
        tooltip: {
          valueSuffix: " M"
        }
      },
      {
        name: "Umugabane (Frw)",
        color: "#FF404E",
        type: "spline",
        data: data[2],
        yAxis: 1
      }
    ],
    tooltip: {
      shared: true
    },
    legend: {
      backgroundColor: "#ececec",
      shadow: true
    },
    credits: {
      enabled: false
    },
    noData: {
      style: {
        fontSize: "16px"
      }
    }
  });
}

function setTableEvents(table) {
  // listen for page clicks
  table.on("page", () => {
    draw = true;
  });

  // listen for updates and adjust the chart accordingly
  table.on("draw", () => {
    if (draw) {
      draw = false;
    } else {
      const tableData = getTableData(table);
      createHighcharts(tableData);
    }
  });
}






































































































$(document).ready(function() {
    $('#memberLogsxx').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );




























































</script>



{% endblock %}