{% import "bootstrap/utils.html" as utils %}
{% block title %}Departments{% endblock %}
{% extends "coop_base.html" %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
      {% block body %}
        {{ utils.flashed_messages() }}

        <div class="row">
        <h2>Shared Links</h2>

        <div class="btn btn-default text-left"><a href="{{ url_for('admin.create_link') }}"> Share a link
         </a></div><br><br><br>

 <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Link </th>
                <th>Title</th>
                <th>Labels</th>
                <th>Shared With</th>
                <th>Comment</th>
                <th>Options</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Link </th>
                <th>Title</th>
                <th>Labels</th>
                <th>Shared With</th>
                <th>Comment</th>
                <th>Options</th>
            </tr>
        </tfoot>
        <tbody>
        {% if links %}
              {% for link in links %}
                    <tr>
                      <td> {{ link.id }} </td>
                      <td><span class="label label-default"> {{ link.link }} </span></td>
                      <td><span class="label label-primary"> {{ link.title }} </span></td>
                      <td> {{ link.labels }} </td>
                      <td><span class="label label-info"> {{ link.sharewith }} </span></td>
                      <td><span class="label label-warning"> {{ link.comment }} </span></td>
                      <td> 
                        <a href="#">
                        <i class="fa fa-book"></i>More 
                        </a>
                      </td>

                    </tr>
              {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <br><br><br>

    <br><br><br>
    <br><br><b>
    {% endblock %}
    </div>
  </div>
  </div>
</div>
</div>























