{% extends "federation_base.html" %}
    {% block body %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-light">
                            <div class="row">
                            <div class="col-md-6">
                                <h3>Umwirondoro w'umunyamuryango</h3>
                            </div>
                            <div class="col-md-6 text-right">
                            <a href="{{ url_for('aicos_members.aicos_members_home') }}">
                                <div class="btn btn-outline-primary"><i class="fa fa-list"></i> List y'abanyamuryango </div>
                            </a>
                            </div>
                            </div>
                            </div>

            <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <img src="https://raw.githubusercontent.com/muhiza/music/master/userProfileFemale%20(1).png">
                        </div>
                        <div class="card-body">
                        <h3>{{ employee.firstName }} , {{ employee.secondName }} </h3>
                            Uyu ni umunyamuryango wa cooperative, akaba yitabira gahunda zose za cooperative zirebana n'iterambere rya cooperative mu buryo bwo kwiteza imbere ndetse no kwiteza imbere haba ku giti cye ndetse no ku muryango we n'abandi banyamuryango bafatanya guteza imbere iguhugu.
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-controls="home">Amakuru bwite</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Amakuru y'imyishyurire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#messages" role="tab" aria-controls="messages">Amakuru y'akazi</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel">
                        <br>
                        <h3> Amakuru bwite y'umunyamuryango </h3>
                              <table class="table">
                                    <thead>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td><b>Izina Ribanza</b></td>
                                        <td>{{ employee.firstName }}</td>
                                      </tr>
                                      <tr>
                                        <td><b>Izina Rikurikira</b></td>
                                        <td>{{ employee.secondName }}</td>
                                      </tr>
                                      <tr>
                                        <td><b>Ayandi</b></td>
                                        <td>{{ employee.others }}</td>
                                      </tr>
                                    <tr>
                                        <td><b>Akarere</b></td>
                                        <td>{{ employee.District }}</td>
                                      </tr>
                                      <tr>
                                        <td><b>Umurenge</b></td>
                                        <td>{{ employee.Sector }}</td>
                                      </tr>
                                      <tr>
                                        <td><b>Akagari</b></td>
                                        <td>{{ employee.Cell }}</td>
                                      </tr>

                                      <tr>
                                        <td><b>Nimero y'indangamuntu</b></td>
                                        <td>{{ employee.nId }}</td>
                                      </tr>
                                    <tr>
                                        <td><b>Tariki yinjiriyemo</b></td>
                                        <td>{{ employee.entryDate }}</td>
                                      </tr>
                                      <tr>
                                        <td><b>Umugabane</b></td>
                                        <td>{{ employee.share }}</td>
                                      </tr>
                                    <tr>
                                        <td><b>Tariki yasohokeye</b></td>
                                        <td>{{ employee.exitD }}</td>
                                      </tr>
                                      <tr>
                                        <td><b>Umuzungura</b></td>
                                        <td>{{ employee.umuzungura }}</td>
                                      </tr>
                                      <tr>
                                        <td><b>Umukono</b></td>
                                        <td>{{ employee.umukono }}</td>
                                      </tr>
                                    <tr>
                                        <td><b>Igitsina</b></td>
                                        <td>{{ employee.gender }}</td>
                                      </tr>
                                      <tr>
                                        <td><b>Tariki y'amavuko </b></td>
                                        <td>{{ employee.dob }}</td>
                                      </tr>
                                      <tr>
                                        <td><b>Numero ya telephone</b></td>
                                        <td>{{ employee.phone }}</td>
                                      </tr>

                                      <tr>
                                        <td><b>Amashuri</b></td>
                                        <td>{{ employee.Amashuri }}</td>
                                      </tr>

                                      <tr>
                                        <td><b>Ubumuga</b></td>
                                        <td>{{ employee.Ubumuga }}</td>
                                      </tr>

                                      <tr>
                                        <td><b>Umwanya</b></td>
                                        <td>Member</td>
                                      </tr>

                                    </tbody>
                                </table>

                        </div>

                        <div class="tab-pane" id="profile" role="tabpanel">
                            <br><h3>Amakuru y'imyishyurire </h3>
                        <div class="card-body">
                            <canvas id="bar-chart-payment" width="100%" height="50"></canvas>
                        </div><br>
                         <br><h3> Uko imyishyurire yagiye ikorwa </h3>
                            <table id="examplePayment" class="display nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Amazina</th>
                                        <th>Amafaranga</th>
                                        <th>Ubwoko </th>
                                        <th>Bank Slip</th>
                                        <th>Payment Order </th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Amazina</th>
                                        <th>Amafaranga</th>
                                        <th>Ubwoko </th>
                                        <th>Bank Slip</th>
                                        <th>Payment Order </th>
                                        <th>Date</th>
                                    </tr>
                                </tfoot>
                                <tbody>




                                </tbody>
                            </table>
                            <br><br><br>

                        <h3>Amande mu gihe cy'ukwezi </h3>
                        <div class="card-body">
                            <canvas id="line-chart" width="100%" height="50"></canvas>
                        </div>




                        </div>

                        <div class="tab-pane" id="messages" role="tabpanel">
                            <br><h3> Amakuru yerekeye akazi </h3>
                              <table class="table">
                                    <tbody>
                                      <tr>
                                        <td><b>Ubwoko bw'ubunyamuryango</b></td>
                                        <td>Platinum </td>
                                      </tr>
                                      <tr>
                                        <td><b>Taliki yinnjiriye muri Cooperative </b></td>
                                        <td>December 29, 2018</td>
                                      </tr>
                                      <tr>
                                        <td><b>Icyiciro Abarizwamo</b></td>
                                        <td>Rider</td>
                                      </tr>
                                      <tr>
                                        <td><b>Uko ahagaze</b></td>
                                        <td>Aracyarimo</td>
                                      </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                    <br><br><br>
                </div>
            </div>
            </div>


                        </div>
                    </div>
                </div>
            </div>
    {% endblock %}