{% import "bootstrap/wtf.html" as wtf %}
{% extends "fin_base.html" %}
{% block title %} Membership Form {% endblock %}


{% block body %}
<div class="container">
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
                        <h1>Member Icard</h1>
                          <br/>
                          <div class="row">
                          <div class="col-md-9">
                                      <form class="form-inline" action="/action_page.php">
                                        <div class="form-group">
                                          <input type="text" class="form-control" id="pwd" placeholder="Enter Member ID">
                                        </div>
                                        <button type="submit" class="btn btn-default">Get Print</button>
                                      </form>
                        </div>
                        </div>   
      </div>
    </div>
  </div>
</div>
<br/><br/><br/><br/><br/><br/>
</div>
{% endblock %}
