    <nav class="navbar page-header" style="background-color: #4285f4; color: #fff;">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto" style="color: #fff;">
            <i class="fa fa-bars"></i>
        </a>


        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none" style="color: #fff;"><br>
            <b>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-bars"></i></b>
        </a>

        <a class="navbar-brand" href="#"><br>
            <b><h2 style="color: #fff;">Trainer</h2></b>
        </a>

        <ul class="navbar-nav ml-auto" style="color: #fff;">
            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-bell" style="color: #fff;"></i>
                    <span class="badge badge-pill badge-danger" style="color: #fff;">500</span>
                </a>
            </li>

            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-envelope-open" style="color: #fff;"></i>
                    <span class="badge badge-pill badge-danger" style="color: #fff;">500</span>
                </a>
            </li>



            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #fff;">
                    <b><i class="icon-lg icon-user icon-lg"></i></b>
                    <span class="small ml-1 d-md-down-none">
                        <b>{{ current_user.username }}! </b>
                    </span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Account</div>

                    <a href="{{ url_for('home.user_profile', id=current_user.id, username=current_user.username) }}" class="dropdown-item">
                        <i class="fa fa-user"></i> Profile
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-envelope"></i> Messages
                    </a>

                    <div class="dropdown-header">Settings</div>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-bell"></i> Notifications
                    </a>

                    <a href="{{ url_for('home.user_profile', id=current_user.id, username=current_user.username) }}" class="dropdown-item">
                        <i class="fa fa-wrench"></i> Settings
                    </a>

                    <a href="{{ url_for('auth.logout') }}" class="dropdown-item">
                        <i class="fa fa-lock"></i> Logout
                    </a>
                </div>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #fff;">
                    <b><i class="fab fa-buromobelexperte fa-lg"></i></b>
                    <span class="small ml-1 d-md-down-none"><b>Switch</b></span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Solutions</div>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-list"></i> AICOS All
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-list"></i> Audit Requirements
                    </a>


                    <a href="#" class="dropdown-item">
                        <i class="fa fa-user"></i> E-registration.
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-envelope"></i> E-joining
                    </a>

                    <a href="{{ url_for('aicos_members.aicos_members_home') }}" class="dropdown-item">
                        <i class="fa fa-user"></i> Members Management
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-envelope"></i> e-Trainer
                    </a>


                    <a href="#" class="dropdown-item">
                        <i class="fa fa-user"></i> E-monitoring
                    </a>

                    <a href="{{ url_for('aicos_ezigama.home') }}" class="dropdown-item">
                        <i class="fa fa-envelope"></i> e-Zigama
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-user"></i> e-Reporting
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-envelope"></i> Proof
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-user"></i> Imboni
                    </a>

                    <a href="{{ url_for('aicos_imboni.home') }}" class="dropdown-item">
                        <i class="fa fa-envelope"></i> Finance / Accounting
                    </a>
                    <a href="{{ url_for('aicos_pm.aicos_pm_home') }}" class="dropdown-item">
                        <i class="fa fa-envelope"></i> Property Management
                    </a><br>
                    <div class="dropdown-header">Load More</div>


                </div>
            </li>
        </ul>
    </nav>


    {% block rest %}
    {% endblock %}