{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'fin_base.html' %}

{% block body %}


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="container">

<div class="col-md-8">
<div class="panel panel-default">
    <div class="panel-heading"><h1>Loan Setup</h1></div><br><hr>
    <div class="panel-body">
    <form action="{{ url_for('admin.send') }}" method="POST">

        <div class="form-group"><label for="destination">Normal Loan Interest</label>
            <input id="to_number" class="form-control" name="to_number" type="tel" /></div><br>

        <div class="form-group"><label for="destination">Vehicle Loan Interest</label>
            <input id="to_number" class="form-control" name="to_number" type="tel"/></div><br>


        <div class="form-group"><label for="destination">Gold Loan Interest</label>
            <input id="to_number" class="form-control" name="to_number" type="tel" /></div><br>


        <div class="form-group"><label for="destination">Personal Loan Interest</label>
            <input id="to_number" class="form-control" name="to_number" type="tel"></div><br>


        <div class="form-group"><label for="destination">Other Loan Interest</label>
            <input id="to_number" class="form-control" name="to_number" type="tel"></div><br>




        <button class="btn btn-info" type="submit">View</button>
        <button class="btn btn-default" type="submit">Edit</button>
        <button class="btn btn-success" type="submit">Update</button>
        
    </form>
</div>
</div>
</div>
</div>


{% endblock %}