{% extends "members_base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-light">
                <div class="row">
                <div class="col-md-6">
                    <h3>Inyandiko zemewe (xls, xlsx & ods)</h3>
                </div>
                <div class="col-md-6 text-right">
                <a href="{{ url_for('aicos_members.templateDownload') }}">
                    <div class="btn btn-outline-primary"><i class="fa fa-download"></i> <b> Bona Urugero </b></div>
                </a>
                </div>
                </div>
            </div>

    <br>

    <div class="card-body">
    <p class="lead"> 
    <b><strong>Icyitonderwa: </strong></b>
    Banza urebe neza niba inyandiko irimo abanyamuryango yujuje ibisabwa neza, ndetse ko n'amakuru yuzuye neza. Niba inyandiko itameze neza, ntago iribwakirwe na sisiteme. 
    <b><strong>Kanda ahanditse Bona urugero ubone ibisabwa</strong></b> </p>
    <br><br>
    
    <form action="{{ url_for('aicos_members.doimportmbs') }}" method="post" enctype=multipart/form-data><p>
    <div class="btn btn-default btn-lg"><input type=file name=file></div> <div class="btn btn-default"><button input class="btn btn-info" type=submit value=Upload>
    <i class="fa fa-upload"></i><b> Injiza</b></button>
    </form>
    </div> 
    </p>
    </form>
    <br>
    </div>
    </div>
    </div>


        <div class="col-md-4">
      <div class="card">
            <div class="card-header bg-light">
            <h3> Ibyerekeye no kwinjiza inyandiko </h3>
            </div>
            <div class="card-body">
            <p>Ubu ni uburyo bworoshya kwinjiza abanyamuryango ba Koperative muri sisiteme, tunganya inyandiko y'abanyamuryango ku ruhande ubundi ubashyirire icyarimwe muri sisiteme.<br><br> <b><strong>Kurikiza amabwiriza</strong></b></p><br><br>
            </div>
     </div>
    </div>
    </div>
    </div>
    <br><br>
    <br><br>
    
    <br><br>
{% endblock %}
