   {% extends "members_base.html" %}
    {% block body %}
        <div class="container-fluide">
        <h3> Quick Tools </h3>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-light">
                            <h5><i class="fa fa-file"></i> Blank Page </h5>
                            <div class="card-actions">
                                <a href="{{ url_for('aicos_members.blank') }}" class="btn">
                                    <div class="btn btn-outline-primary btn-sm"> Create </div>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            Record important project information and communicate them with your members
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-light">
                            <h5><i class="fa fa-user"></i> Decision </h5>
                            <div class="card-actions">
                                <a href="{{ url_for('aicos_members.decisions_list') }}" class="btn">
                                    <div class="btn btn-outline-primary btn-sm"> Create </div>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            Record important project decisions and communicate them with your members
                        </div>
                    </div>
                </div> 

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-light">
                            <h5><i class="fa fa-tasks"></i> Raporo </h5>
                            <div class="card-actions">
                                <a href="{{ url_for('aicos_members.list_reports') }}" class="btn">
                                    <div class="btn btn-outline-primary btn-sm"> Tunganya </div>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            Record important project report and communicate them with your members.
                        </div>
                    </div>
                </div>
            </div>





            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-light">
                            <h5><i class="fa fa-envelope"></i> Send Messages </h5>
                            <div class="card-actions">
                                <a href="{{ url_for('aicos_members.communications_list') }}" class="btn">
                                    <div class="btn btn-outline-primary btn-sm"> Create </div>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            Record important project blog and communicate them with your members
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-light">
                            <h5><i class="fa fa-info"></i> How-to Article </h5>
                            <div class="card-actions">
                                <a href="#" class="btn">
                                    <div class="btn btn-outline-primary btn-sm"> Create </div>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            Record important project article and communicate them with your members.
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-light">
                            <h5><i class="fa fa-pencil-alt"></i> Meeting Notes </h5>
                            <div class="card-actions">
                                <a href="#" class="btn">
                                    <div class="btn btn-outline-primary btn-sm"> Create </div>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            Record important meeting notes and communicate them with your members.
                        </div>
                    </div>
                </div>
            </div>

























            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-light">
                            <h5><i class="fa fa-share"></i> File List/Share </h5>
                            <div class="card-actions">
                                <a href="#" class="btn">
                                    <div class="btn btn-outline-primary btn-sm"> Create </div>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            Import important project files and communicate them with your members.
                        </div>
                    </div>
                </div>




                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-light">
                            <h5><i class="fa fa-book"></i> Survey </h5>
                            <div class="card-actions">
                                <a href="#" class="btn">
                                    <div class="btn btn-outline-primary btn-sm"> Create </div>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            Create and share documents to listen from your members.
                        </div>
                    </div>
                </div>






                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-light">
                            <h5> <i class="fa fa-info"></i> Notice Board. </h5>
                            <div class="card-actions">
                                <a href="#" class="btn">
                                    <div class="btn btn-outline-primary btn-sm"> Create </div>
                                </a>
                            </div>
                        </div>

                        <div class="card-body">
                            Use sms, voice calls, video calls and email to communicate with your members, anywhere and anytime.
                        </div>
                    </div>
                </div>




            </div>
















        </div>
{% endblock %}