 {% extends 'acct_base.html' %}
      {% block body %}
      <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home4" role="tab" aria-controls="home" aria-expanded="false"><i class="icon-calculator"></i> Income &nbsp;<span class="badge badge-success">New</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#profile4" role="tab" aria-controls="profile" aria-expanded="true"><i class="icon-basket-loaded"></i> Expenses &nbsp;<span class="badge badge-pill badge-danger">00</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#messages4" role="tab" aria-controls="messages"><i class="icon-pie-chart"></i> Invoice </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#messages5" role="tab" aria-controls="messages"><i class="icon-pie-chart"></i> Rent Fees</a>
                        </li>

                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane" id="home4" role="tabpanel" aria-expanded="false">











                    <div class="card">
                        <div class="card-header bg-light">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Download Income template</h3>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-outline-primary">
                                    <a href="#">
                                    <i class="fa fa-download"></i> Download</a></button>
                                </div>                                
                                </div>
                            </div>


                         <table id="example" class="display nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Account</th>
                <th>Starting Amount</th>
                <th>Current Account</th>
                <th>Operations</th>
                <th>Options</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Account</th>
                <th>Starting Amount</th>
                <th>Current Account</th>
                <th>Operations</th>
                <th>Options</th>
            </tr>
        </tfoot>
        <tbody>

        </tbody>
    </table>
    </div>

                </div>

                        <div class="tab-pane active" id="profile4" role="tabpanel" aria-expanded="true">    
                                      <div class="card">
                                        <div class="card-header bg-light">
                                            <div class="row">
                                                <div class="col-md-6">
                                                <h3>Download Expenses Template</h3>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                <button class="btn btn-outline-primary">
                                                <a href="#">
                                                <i class="fa fa-download"></i> Download</a></button>
                                                </div>
                                            </div>
                                        </div>
                                        <table id="example1" class="display nowrap" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Bank</th>
                                                    <th>Account Number</th>
                                                    <th>Starting Amount</th>
                                                    <th>Current Amount</th>
                                                    <th>Internal Description </th>
                                                    <th>Pablic Description </th>
                                                    <th>Operations </th>
                                                    <th>Options </th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Bank</th>
                                                    <th>Account Number</th>
                                                    <th>Starting Amount</th>
                                                    <th>Current Amount</th>
                                                    <th>Internal Description </th>
                                                    <th>Pablic Description </th>
                                                    <th>Operations </th>
                                                    <th>Options </th>
                                                </tr>
                                            </tfoot>
                                            <tbody>

                                            </tbody>
                                        </table>
                                        </div>
                        </div>

                        <div class="tab-pane" id="messages4" role="tabpanel">
                                  <div class="card">
                                        <div class="card-header bg-light">
                                            <div class="row">
                                                <div class="col-md-6">
                                                <h3>Download Invoice Template</h3>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                <button class="btn btn-outline-primary">
                                                <a href="#">
                                                <i class="fa fa-download"></i> Download</a></button>
                                                </div>
                                            </div>
                                        </div>
                                        <table id="example2" class="display nowrap" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Asset</th>
                                                    <th>Amount</th>
                                                    <th>Date</th>
                                                    <th>Deprec [%]</th>
                                                    <th>Description</th>
                                                    <th>Total Deprec</th>
                                                    <th>Net</th>
                                                    <th>Options </th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Asset</th>
                                                    <th>Amount</th>
                                                    <th>Date</th>
                                                    <th>Deprec [%]</th>
                                                    <th>Description</th>
                                                    <th>Total Deprec</th>
                                                    <th>Net</th>
                                                    <th>Options </th>
                                                </tr>
                                            </tfoot>
                                            <tbody>

                                            </tbody>
                                        </table>
                                  </div>
                        </div>
















                          <div class="tab-pane" id="messages5" role="tabpanel">
                                  <div class="card">
                                        <div class="card-header bg-light">
                                            <div class="row">
                                                <div class="col-md-6">
                                                <h3>Download Rent fees Template</h3>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                <button class="btn btn-outline-primary">
                                                <a href="#">
                                                <i class="fa fa-download"></i> Download</a></button>
                                                </div>
                                            </div>
                                        </div>
                                        <table id="example3" class="display nowrap" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Debitor Account</th>
                                                    <th>Creditor Account</th>
                                                    <th>Amount</th>
                                                    <th>Memo</th>
                                                    <th>Options</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Debitor Account</th>
                                                    <th>Creditor Account</th>
                                                    <th>Amount</th>
                                                    <th>Memo</th>
                                                    <th>Options</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>

                                            </tbody>
                                        </table>
                                  </div>
                                </div>










                                <div class="tab-pane" id="messages6" role="tabpanel">
                                  <div class="card">
                                        <div class="card-header bg-light">
                                            <div class="row">
                                                <div class="col-md-6">
                                                <h3>Active Expense Accounts</h3>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                <button class="btn btn-outline-primary">
                                                <a href="{{ url_for('aicos_acc.newClient') }}">
                                                <i class="fa fa-plus"></i> New Expense Category</a>
                                                </button>

                                                <button class="btn btn-outline-info">
                                                <a href="{{ url_for('aicos_acc.newClient') }}">
                                                <i class="fa fa-plus"></i> New Expense Account</a>
                                                </button>
                                                </div>
                                            </div>
                                        </div>
                                        <table id="example4" class="display nowrap" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Category</th>
                                                    <th>Account name</th>
                                                    <th>Code</th>
                                                    <th>Amount Spent</th>
                                                    <th>Options</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Category</th>
                                                    <th>Account name</th>
                                                    <th>Code</th>
                                                    <th>Amount Spent</th>
                                                    <th>Options</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>

                                            </tbody>
                                        </table>
                                  </div>
                                </div>























                            <div class="tab-pane" id="messages7" role="tabpanel">
                                  <div class="card">
                                        <div class="card-header bg-light">
                                            <div class="row">
                                                <div class="col-md-6">
                                                <h3>Expense Types</h3>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                <button class="btn btn-outline-primary">
                                                <a href="#"><i class="fa fa-plus"></i> Add New</a></button>
                                                </div>
                                            </div>
                                        </div>
                                        <table id="example5" class="display nowrap" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Category</th>
                                                    <th>Items</th>
                                                    <th>Details</th>
                                                    <th>Options</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Category</th>
                                                    <th>Items</th>
                                                    <th>Details</th>
                                                    <th>Options</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                  </div>







                                <div class="tab-pane" id="messages8" role="tabpanel">
                                  <div class="card">
                                        <div class="card-header bg-light">
                                            <div class="row">
                                                <div class="col-md-6">
                                                <h3>Loans Payment</h3>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                <button class="btn btn-outline-primary">
                                                <a href="{{ url_for('aicos_acc.newLoan') }}">
                                                <i class="fa fa-plus"></i> New Loan</a>
                                                </div>
                                            </div>
                                        </div>
                                        <table id="example6" class="display nowrap" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Duration</th>
                                                    <th>Payment Mode</th>
                                                    <th>Total</th>
                                                    <th>Paid Amount </th>
                                                    <th>Remaining </th>
                                                    <th>Option </th>

                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Duration</th>
                                                    <th>Payment Mode</th>
                                                    <th>Total</th>
                                                    <th>Paid Amount </th>
                                                    <th>Remaining </th>
                                                    <th>Option </th>
                                                </tr>
                                            </tfoot>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                  </div>



















                                <div class="tab-pane" id="messages9" role="tabpanel">
                                  <div class="card">
                                        <div class="card-header bg-light">
                                            <div class="row">
                                                <div class="col-md-6">
                                                <h3>Capital/Equity</h3>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                <button class="btn btn-outline-primary">
                                                <a href="{{ url_for('aicos_acc.newCapital') }}">New Capital</a></button>
                                                </div>
                                            </div>
                                        </div>
                                        <table id="example7" class="display nowrap" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Source</th>
                                                    <th>Amount</th>
                                                    <th>Date</th>
                                                    <th>Transactions</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Source</th>
                                                    <th>Amount</th>
                                                    <th>Date</th>
                                                    <th>Transactions</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                  </div>
                                </div>

















                    </div>
                </div>


        </div>
         </div>
          </div>
          </div>
          </div>




    <div class="modal fade" id="modal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Month Fee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                            <div class="card-body">
                                <div class="row mt-4">
                                    <div class="col-md-12">


                                        <div class="form-group">
                                            <label for="single-select">Fee Type</label>
                                            <select id="single-select" class="form-control">
                                                <option>Renting Fees</option>
                                                <option>Cleaning Fees</option>
                                                <option>Security Fees</option>
                                                <option>Others</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="placeholder-input" class="form-control-label">Description</label>
                                            <input id="placeholder-input" class="form-control" placeholder="Enter Description">
                                        </div>

                                        <div class="form-group">
                                            <label for="placeholder-input" class="form-control-label">Amount</label>
                                            <input id="placeholder-input" class="form-control" placeholder="Enter Amount">
                                        </div>



                                        <div class="form-group">
                                            <label for="date" class="form-control-label">Due Date</label>
                                            <input id="placeholder-input" type="date" class="form-control" placeholder="Due Date">
                                        </div>




                                        <div class="form-group">
                                            <label for="single-select">Person to Pay</label>
                                            <select id="single-select" class="form-control">
                                                <option>All</option>
                                                <option>Custom Person</option>
                                                <option>  Choose Person</option>
                                            </select>
                                        </div>




                                        <div class="form-group">
                                            <label for="placeholder-input" class="form-control-label">Except</label>
                                            <input id="placeholder-input" class="form-control" placeholder="Enter Exception">
                                        </div>





                                        <div class="form-group">
                                            <label for="placeholder-input" class="form-control-label">Use unassigned</label>
                                            <input id="placeholder-input" class="form-control" placeholder="Enter Exception">
                                        </div>


                                        
                                        




                                    </div>
                                </div>
                            </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save Month Fee</button>
            </div>
        </div>
    </div>































    <div class="modal fade" id="modal-30" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Fee Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                            <div class="card-body">
                                <div class="row mt-4">
                                    <div class="col-md-12">


                                        <div class="form-group">
                                            <label for="single-select">Fee Type</label>
                                            <select id="single-select" class="form-control">
                                                <option>Renting Fees</option>
                                                <option>Cleaning Fees</option>
                                                <option>Security Fees</option>
                                                <option>Others</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="placeholder-input" class="form-control-label">Description</label>
                                            <input id="placeholder-input" class="form-control" placeholder="Enter Description">
                                        </div>

                                        <div class="form-group">
                                            <label for="placeholder-input" class="form-control-label">Amount</label>
                                            <input id="placeholder-input" class="form-control" placeholder="Enter Amount">
                                        </div>



                                        <div class="form-group">
                                            <label for="date" class="form-control-label">Due Date</label>
                                            <input id="placeholder-input" type="date" class="form-control" placeholder="Due Date">
                                        </div>




                                        <div class="form-group">
                                            <label for="single-select">Person to Pay</label>
                                            <select id="single-select" class="form-control">
                                                <option>All</option>
                                                <option>Custom Person</option>
                                                <option>  Choose Person</option>
                                            </select>
                                        </div>




                                        <div class="form-group">
                                            <label for="placeholder-input" class="form-control-label">Except</label>
                                            <input id="placeholder-input" class="form-control" placeholder="Enter Exception">
                                        </div>





                                        <div class="form-group">
                                            <label for="placeholder-input" class="form-control-label">Use unassigned</label>
                                            <input id="placeholder-input" class="form-control" placeholder="Enter Exception">
                                        </div>


                                        
                                        




                                    </div>
                                </div>
                            </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save Month Fee</button>
            </div>
        </div>
    </div>
</div>






















</div>
      {% endblock %}