{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "req_base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}

                <div class="row">
                <div class="col-md-12">

            <div class="card">
                <div class="card-header bg-danger">
                <h3 style="color: #fff;"><i class="fa fa-info"></i> Ibyerekeye abasinyateri </h3>
                </div>

            <div class="card-body">
                <p>
                Ntago urashobora gutanga amakuru ya <b>Konti</b> yawe ya Bank ndetse na <b>Konti</b> ya Sisiteme.</p>
            </div>

            <div class="card-body">
            <br/>

                <p>Urutonde rw’abasinyateri kuri konti (Signatories).</p>

                    <div class="card">

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>

                                        <th>No. </th>
                                        <th>Izina rya Bank. </th>
                                        <th>No ya konti. </th>
                                        <th>Izina ry’umusinyateri.</th>
                                        <th>Igihe yabaye</th> 
                                        <th>Igihe yavuye</th>




                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



            </div>
            </div>
            </div>
            </div>
            </div>
        </div>
{% endblock %}
